@font-face {
    font-family: glyphicons ;
    src: url(../fonts/glyphicons-halflings-regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: robotoSlab;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}