body{
    font-family:lato;
}
main{
    text-align:center;
}

h1{
    font-family:robotoSlab;
    font-size:3.2em;
}

h2{
    font-family:robotoSlab;
    text-transform:uppercase;
    margin: 2% 0;
    font-weight:bold;
    border-bottom:1px solid;
}
h3{
    font-family:robotoSlab;
    text-transform:uppercase;
    font-size:1.5em;
    font-weight:bold;
}

.boldFont{
    font-weight:bold;
}