#getInvolved{
    padding: 2% 20%;
    i{
        font-size:4em;
        padding: 5% 0;
    }
    button{
        font-size:0.8em;
        text-transform: capitalize;
    }
    .col{
        padding:2%;
    }
}