#headerBG{
    text-align:center;
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding: 2% 30%;
    h1{
        margin-bottom:5%;
    }
    button{
        font-size:1.5em;
    }
    img{
        margin-top:5%;
    }
}